#centralwidget, QListWidget, QMessageBox
{
    background-color: #161416;
    color: white;
}

QLabel
{
    color: white;
}

QPushButton, QListWidget
{
    border-radius: 3px;
    border: 2px solid #ffffff;
    color: white;
}

Ok
{
    min-width: 50px;
}

QPushButton:hover
{
    border-radius: 10px;
}
